@keyframes startJ {
	0% {top:0;}
	100% {top:-50%;}
}
@keyframes startB {
	0% {right:0;}
	100% {right:-50%;}
}
@keyframes startO {
	0% {bottom:0;}
	100% {bottom:-50%;}
}
@keyframes startV {
	0% {left:0;}
	100% {left:-50%;}
}
@keyframes startLoad {
	0% {transform:scale(1);}
	100% {transform:scale(0);}
}
:root {
	--jaune: #e5de28;
	--bleu: #0ebfff;
	--vert: #68eb22;
	--orange: #ffb50e;
}
html {
	overflow: hidden;
}
.dl {
	height: clamp(20%,20vw,80%);
}
#sLoad, #eLoad {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	overflow: hidden;
	position: fixed;
}
#sLoad, #eLoad {
	z-index: 10000;
}
#eLoad {
	visibility: hidden;
}
#sLoad > div, #eLoad > div {
	position: relative;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 50%;
}
#endA {
	top: -50%;
}
#endB {
	right: -50%;
}
#endC {
	left: -50%;
}
#endD {
	bottom: -50%;
}