<section id="sLoad">
	<div id="startA">
		<img src="templates/loading/DL_J.svg" class="dl"/>
	</div>
	<div id="startB">
		<img src="templates/loading/DL_B.svg" class="dl"/>
	</div>
	<div id="startC">
		<img src="templates/loading/DL_V.svg" class="dl"/>
	</div>
	<div id="startD">
		<img src="templates/loading/DL_O.svg" class="dl"/>
	</div>
</section>

<section id="eLoad">
	<div id="endA">
		<img src="templates/loading/DL_J.svg" class="dl"/>
	</div>
	<div id="endB">
		<img src="templates/loading/DL_B.svg" class="dl"/>
	</div>
	<div id="endC">
		<img src="templates/loading/DL_V.svg" class="dl"/>
	</div>
	<div id="endD">
		<img src="templates/loading/DL_O.svg" class="dl"/>
	</div>
</section>