<!DOCTYPE html>
<html lang="fr">
<head>
<title> Baking Contest </title>
<meta charset="utf-8">
<link rel="shortcut icon" href="img/BK.png">
<link rel="stylesheet" href="style/style.css">
</head>
<body>
<header>

        <a href="index.html">
         <img class="logo" src="img/logo.png"/>
        </a> 

        <div>
        <div id="titre">
       accueil
       </div>
   </div>
   <div id="abon">
        <form action="php/abonner.php">
        <input type="submit" value="S'abonner">
        </form>

        <form action="php/desabonner.php">
        <input type="submit" value="Se désabonner">
        </form>
    </div>
</header>

<nav>
    <ul>
        <a href="index.html"> <li>  Accueil </li> </a>
        <a href="onglet/event.html"> <li>  Évènement </li> </a>
        <a href="onglet/propos.html"> <li> À propos </li> </a>
        <a href="onglet/contact.html"> <li>  Contact </li> </a>
        <a href="onglet/galerie.html"> <li>  Galerie </li> </a>
    </ul>
</nav>

<div id="reseaux">

    <a href="https://www.facebook.com/" alt="facebook BC">
    <img src="img/facebook.png"/>
</a>

<a href="https://twitter.com/home?lang=fr" alt="twitter BC">
    <img src="img/twitter.png"/>
</a>

<a href="https://youtu.be/XRFLrsy3aEA" alt="youtube BC">
    <img src="img/youtube.png"/>
</a>

<a href="https://www.instagram.com/baking_contest/" alt="insta BC">
    <img src="img/instagram.png"/>
</a>
</div>

<section>
    <img src="img/Accueilblabla.jpg"/>
    <a href="onglet/event.html">
        <div id="event">
        <h1> ÉVÈNEMENT </h1>
        <p> Venez participer à notre concours </p>
        </div>
    </a>
    <a href="onglet/propos.html">
        <div id="propos">
        <h1> À PROPOS </h1>
        <p> Venez découvrir notre partenariat avec le Kindarena </p>
        </div>
    </a>
<p> © Baking Contest - 2021 </p>
</section>
</body>
</html>