html, body {
	margin: 0px;
	padding: 0px;
	cursor: url('../img/beignet.png'), pointer;
	font-family: 'text';
}
	@font-face{
		font-family: 'onglet';
		src: url("../police/Montserrat-Medium.ttf") format('truetype');
	}
	@font-face{
		font-family: 'text';
		src: url("../police/Avenir.ttc") format('truetype');
	}

.logo {
	width: 150px;
	margin-left: calc(50% - 75px);
	margin-top: 15px;
	margin-bottom: 15px;
	transition: transform 0.5s ease;
}

.logo:hover {
	transform: rotate(360deg);
}

#inscrire {
	display: flex;
	justify-content: center;
}

p {
	text-align: center;
}

form {
	width: 100%;
	text-align: center;
}

#abon > form:last-child > input:last-child {
	background: #888;
}

#abon > form:last-child > input:last-child:hover {
	transition: background 0.5s, color 0.5s;
	font-weight: bold;
	background-color: white;
	color: black;
}

input {
	border-style: solid;
	background: white;
	color: #E5802E;
	font-family: 'text';
	border-radius: 30px;
	font-size: 30px;
	border-color: #F49F60 #E5802E #E5802E #F49F60;
	text-align: center;
}

input:active {
	border-color: #E5802E #F49F60 #F49F60 #E5802E;
}